body {
    font-family: sans-serif;
}
.link-header{
    background: #FF0000;
    text-decoration: none;
    color: white;
    border: 5px double
#53DF00;
border-radius: 20px;
padding: 10px;
margin: 20px;
margin-top: 50px;

    
}
header{
background: #FFD700;
height: 70px ;


}
head{
 background: black;
   
}
.link-nav{
background: #34D0B6;
text-decoration: none;
border: 5px double 				
#1826B0;
border-radius: 20px;
margin: 20px;
padding: 10px;
color: black;
     }




footer{
  background: #7109AA; 
  height: 100px; 
 
}
body{
  background: #FFD300;			
				
 
}
h1{
    text-align: center;
   
    
}
main{
    background: #447BD4;
}
p{
    color: white
}
.link-header:hover{
    background: #00C618;
    border: 5px double 	#FF7400;
     box-shadow: 10px 15px 0 0 gold;
   transition: 5s linear;
}
.link-nav:hover{
    background: 
#0C0874	;
 border: 5px double #A0E800;
 color: white;
  box-shadow: 10px 15px 0 0 black;
   transition: 5s linear;
}
